.branchoffices-stores{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  padding: 1.75rem;
}
.branchoffices-stores__sellers,
.branchoffices-stores__chart{
  background-color: #fefefe;
  border-radius: 5px;
  padding: 1rem;
  border: 1px solid #dddddd;
}
.branchoffices-stores__chart{
  padding-left: 0;
}

.branchoffices-stores__sellers li{
  list-style: none;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: .25rem;
  padding-right: .25rem;
  border-bottom: 1px solid #ddd;
}
.branchoffices-stores__sellers ul{
  padding-left: 0;
  margin-bottom: 0;
}
.branchoffices-stores__sellers h3 {}
